/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.02.24., 20:43:13
    Author     : Kenwulf
*/

.navbar {
    background-color: rgba(35, 37, 35, 0.5);
    width: fit-content;
    margin-top: 30pt;

}
​
.nav-item {
    color: rgb(255, 255, 255) !important;
}
​
.navbar-nav{
    text-align: center !important;
    font-style: normal;
}
​
/*----------------------banner--------------------*/
​
#banner{
    background-color: rgba(22, 175, 22, 100);
    height: 100pt;
}
​
/*---------------------jumbotron-----------------*/
​
.jumbotron{
    margin-top: 0px;
    margin-bottom: 0px;
}
​
.jumbotron.p{
    margin-bottom: 100pt;
}
​
/*---------------------footer-----------------*/
​
.footer-dark {
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    padding:50px 0;
    color:#f0f9ff;
    background-color: rgba(22, 175, 22, 100);
}
​
.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
​
.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
​
.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
​
.footer-dark ul a:hover {
    opacity:0.8;
}
​
.footer-dark .item.text {
    padding-bottom:0px;
}


.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}
​
.footer-dark .copyright {
    text-align:center;
    padding-top:80px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}
​
.footer-png {
    width: 100%;
    height: 208pt;
    bottom: 0px;
    position: absolute;
}

a.cardlink,
a.cardlink:hover {
  color: inherit;
}
​
@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}
​