
body, html {
    height: 100%;
    margin: 0;
}

/*-----------------------------Navbar---------------------------------------------*/

/*-----------------------------Content---------------------------------------------*/

.content-footer-container {
    position: relative;
    height: 2363px;
}

.content-container {
    width: 100%;
    height: 1000px;
}

.sec1 {
    height: 570px;
}

.sec2 {
    height: 500px;
    background-color: violet;
}

.bannerParallax {
    background-image: url(Photos/aboutUs/green.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}


.bannerParallax h2 {

    color: rgb(255, 255, 255);
    padding-top: 80px;
    font-size: 100px;
    font-family: fantasy;
    font-variant: petite-caps;
    text-align: center;
}

.parallax {
    background-image: url(Photos/aboutUs/green.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.parallax h2 {

    color: rgb(255, 255, 255);
    padding-top: 100px;
    font-size: 100px;
    font-family: fantasy;
    font-variant: petite-caps;
    text-align: center;
}

.parallaxFooter {
    background-image: url(Photos/aboutUs/green.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.sec1 .background {
    background-repeat: no-repeat;
    background-image: url(Photos/aboutUs/framedouble.png);
    height: 600px;
    background-size: 1212px 568px;
    padding-top: 56px;
    margin-left: 28px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: #ffffff;
}

.swiper-slide .imgBx {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-slide .imgBx img {
    width: 100%;
}

.swiper-slide .details {
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
}

.swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;

}

.swiper-slide .details h3 span {
    margin-bottom: -12px;
    margin-left: -50px;
    font-size: 16px;
    color: rgb(9, 105, 5);
}

.sec2 ul {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #cccccc;
    margin: 0;
    padding: 0;

}


.sec2 .content .banner-area {
    width: 100%;
    height: 170px;
    position: absolute;
    z-index: 1;
    -webkit-background-size: cover;
    background-size: contain;
    background-repeat: repeat-x;
    margin-top: -65px;
}

.sec2 ul li {
    z-index: 1;
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
}

.sec2 ul li h3 {
    font-family: fantasy;
    font-variant: petite-caps;
    font-size: 50px;
}

.sec2 ul li p {
    font-size: 20px;
}

.sec2 ul:hover li {
    width: 10%;
}

.sec2 ul li:hover {
    width: 60%;
}

.sec2 ul li .li-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    color: #ffffff;
    opacity: 0;
}

.sec2 ul li:hover .li-content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 3 !important;
}

.sec2 ul li:nth-child(1) {
    background: url(Photos/aboutUs/storyBefore.jpg);
    background-size: cover;
    background-position: left;
}

.sec2 ul li:nth-child(2) {
    background: url(Photos/aboutUs/story1.jpg);
    background-size: cover;
    background-position: left;
}

.sec2 ul li:nth-child(3) {
    background: url(Photos/aboutUs/story2.jpg);
    background-size: cover;
    background-position: left;
}

.sec2 ul li:nth-child(4) {
    background: url(Photos/aboutUs/story3.jpg);
    background-size: cover;
    background-position: left;
}

.sec2 ul li:nth-child(5) {
    background: url(Photos/aboutUs/storyFuture.jpg);
    background-size: cover;
    background-position: left;
}

/*-----------------------------Footer---------------------------------------------*/

.Footer {
    position: absolute;
    width: 100%;
    height: 560px;
    bottom: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url(Photos/aboutUs/Footer2.0.png);
}


.contact {
    position: absolute;
    bottom: 90pt;
    left: 30pt;
}

.opening {
    position: absolute;
    bottom: 25pt;
    right: 30pt;

}
