
body, html {
    height: 100%;
    margin: 0;
}

/*-----------------------------Navbar---------------------------------------------*/

/*-----------------------------Content---------------------------------------------*/

.content-footer-container{
    position: relative;
    height: 4135px;
    overflow: hidden;
}

.content-container{
    width: 100%;
    overflow: hidden;
}

h1 {
    margin-top: 30px !important;
    margin-bottom: 20px  !important;
    font-size: 70px !important;
    font-family: fantasy !important;
    font-variant: petite-caps !important;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.sectionHeader {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section .sectionContent {
    text-align: center;
}

section .sectionContent h2 {
    margin-top: -60px;
    font-size: 14vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-attachment: fixed;
}

section:nth-child(1) .sectionContent h2 {
    background-image: url("Photos/birds/headerBirds.jpg");
    background-size: contain;
    margin-top: 140px;
}

section .sectionContent p {
    max-width: 1200px;
    margin-top: 40px;
    padding: 0 20px;

}

/*-----------------------------Footer---------------------------------------------*/

