.cart {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
}

.form-box-cart {
    background: crimson;
    z-index: 1500;
    width: 615px;
    height: 530px;
    margin: 6% auto;
    padding: 12px;
    overflow: hidden;
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #106e05;
    border-radius: 10px;
}

.cart .active {
    transform: translate(-50%, -50%) scale(1);
}

.form-box-cart img{
    height: 108px;
    width: 157px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
}

.cart-container {
    margin-top: 10px;
    background-color: #f14767;
    overflow-y: scroll;
    height: 200px;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
}

.delButton {
    background-size: 15px;
    background-image: url(Photos/Exit.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

th, td {
    padding: 10px 62px 5px 9px !important;
    text-align: left !important;
    font-family: sans-serif !important;
}

tr:hover {
    background-color: crimson;
}

table {
    color: black !important;
}