
body, html {
    height: 100%;
    margin: 0;
    background-color: #0066B3;
}

/*-----------------------------Navbar---------------------------------------------*/

/*-----------------------------Content---------------------------------------------*/

.banner-area  {
    width: 100%;
    height: 940px;
    position: fixed;
    background-image: url(Photos/events/cloud1.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.content-footer-container{
    position: relative;
    height: 1600px;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 1500px;
}

.title h1 {
    color: rgb(27, 27, 26);
    margin-top: 20px;
    margin-bottom: -60px;
    font-size: 70px;
    font-family: fantasy;
    font-variant: petite-caps;
    text-align: center;
}

.grass {
    position: absolute;
    width: 100vw;
    height: 916px;
    bottom: 190px;
    background-image: url(Photos/events/path2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.board  {
    position: absolute;
    width: 1082px;
    height: 1291px;
    background-image: url(Photos/events/noticeBoard.png);
    background-size: cover;
}

.notices {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    z-index: 1;
    position: relative;
    margin: 20px 0;
    width: 240px;
    height: 320px;
    background: #ebab1e;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(10, 61, 3, 1);
    border: 8px solid rgba(0,0,0,.125);
}

.card:hover {
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg) scale(1.4);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;

}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}


.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    font-family: fantasy;
    font-variant: petite-caps;
    text-align: center;
}

.card .details h2 {
    color: rgb(37, 124, 11);
}


/*-----------------------------Footer---------------------------------------------*/
