
.Footer{
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: fantasy;
    background-image: url(Photos/Footer2.0.png);
}


.contact{
    position: absolute;
    bottom: 90pt;
    left: 30pt;
}

.opening{
    position: absolute;
    bottom: 25pt;
    right: 30pt;

}