.hero {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
}

.form-box {
    z-index: 10;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #106e05;
    border-radius: 10px;
}

.button-box {
    width: 320px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 160px;
    height: 100%;
    background: linear-gradient(to right, #03b603, #cafa45);
    border-radius: 30px;
    transform: 0.5s;
}

.icons {
    margin: -15px;
    text-align: center;
}

.icons img {
    width: 50px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #03b603, #cafa45);
    border: 0;
    outline: none;
    border-radius: 30px;
    position: absolute;
    bottom: -40px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 28px;
    margin-left: 20px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.hero .active {
    background-image: radial-gradient(#d5ff714d, #46dc0880);
    transform: translate(-50%, -50%) scale(1);
}

button {
    background: none;
    border: none;
}

.delButton {
    background-size: 15px;
    background-image: url(Photos/Exit.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-left: 5px;
}