
body, html {
    height: 100%;
    margin: 0;
    font-family: fantasy;
}

/*-----------------------------Parallax1-------------------------------------------*/

.Parallax1{
    position: relative;
    z-index: 2;
}

.zoom{
    width:100% ;
    height: 1000px;
    position: relative;
    overflow: hidden;background: url(https://static.flocabulary.com/media/images/56deb6b6f9c293daba012097bf30d9ea/SCI-tropical-rainforest-image.jpg);

    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.zoom:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background: linear-gradient(transparent, black);
}

.zoom #layer1{
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;
}

.zoom #layer2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.zoom #text{
    position: absolute;
    right: 0;
    width: 100%;
    transform: translateY(50%) ;
}

.content{
    padding: 100px;
    box-sizing: border-box;
    font-family: consolas;
}


/*-----------------------------Navbar---------------------------------------------*/
.banner{
    position: relative;
    background-color: black;
    width: 100%;
    height: 160px;
    z-index: 2;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 40px 100px;
    z-index: 2;
    background-size: cover;
    background-color: black;
}

header.sticky {
    height: 46px;
    position: fixed;
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.6);
}



header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #010101;
    font-family: fantasy;
    font-size: 40px;

}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}


header ul li a:hover {
    font-size: 60px;
    text-decoration:none;
    color: rgb(15, 177, 15) !important;
}

.animals-dropdown {
    display: none;
}

.show{
    display: block;
    position: absolute;
    margin-left: -42px;
}

.login-button {
    background-color: #c4f297;
    font-size: 20px;
    width: 140px;
    border-radius: 30px;
    color: #010801;
    font-family: fantasy;
    margin-right: -126px;
}


/*-----------------------------Parallax2------------------------------------------*/


.cave1{
    position: absolute;
    background-image: url(Photos/Parallax2/cave1.png);
    width: 100%;
    height: 23%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.cave2{

    position: absolute;
    background-image: url(Photos/Parallax2/cave2.png);
    width: 100%;
    height: 23%;
    z-index: 1;

    background-size: contain;
    background-repeat: no-repeat;

}


/*-----------------------------News-----------------------------------------------*/
.News{
    position: relative;
    z-index: 0;

    width: 100%;
    height: 250%;
}

.container-hero
{
    position: absolute;

    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-hero .column
{
    width: 25%;
    height: 100%;
    float: left;
    border-right: 2px solid rgba(0,0,0,.5);
    box-sizing: border-box;
    z-index: 1;
}
.container-hero .column:last-child
{
    border-right: none;
}
.container-hero .column .content-hero
{
    position: relative;
    height: 100%;
}
.container-hero .column .content-hero h1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0,0,0,.1);
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,.2);
    font-size: 15em;
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
}
.container-hero .column .content-hero .box
{
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    box-sizing: border-box;
    padding: 40px;
    background: rgba(255,255,255,1);
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}

.container-hero .column.active .content-hero .box
{
    opacity: 1;
    transform: translateY(-50%);
}
.container-hero .column .content-hero .box h2
{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #262626;
}
.container-hero .column .content-hero .box p
{
    color: #262626;
    font-size: 18px;
}
.container-hero .column .bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}


/*-----------------------------Footer---------------------------------------------*/

.Footer{
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url(Photos/Footer2.0.png);
}


.contact{
    position: absolute;
    bottom: 90pt;
    left: 30pt;
}

.opening{
    position: absolute;
    bottom: 25pt;
    right: 30pt;

}
