body, html {
    height: 100%;
    margin: 0;
    font-family: fantasy;
}

/*-----------------------------Navbar---------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 40px 100px;
    z-index: 2;
    background: url(Photos/HighRes-Banner.png);
    background-size: cover;
    background-color: black;
}

header.sticky {
    height: 46px;
    position: fixed;
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.6);
}

.map-footer-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 16px;
    z-index: 1000;
    background: linear-gradient(#340808, transparent);
}

.banner{
    position: relative;
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: bottom;
    /* background: #722703; */
    background-image: url(Photos/tabla.png);
}

.sticky-banner{
    height: 52px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #010101;
    font-family: fantasy;
    font-size: 40px;

}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}


header ul li a:hover {
    font-size: 60px;
    text-decoration:none;
    color: rgb(15, 177, 15) !important;
}

.animals-dropdown {
    display: none;
}

.show{
    display: block;
    position: absolute;
    margin-left: -42px;
}

/*-----------------------------Content---------------------------------------------*/

.map-footer-container {
    position: relative;
    overflow: hidden;
    height: 300%;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content#blur.active {
    filter: blur(20px);
}

.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    visibility: hidden;
    opacity: 0;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0,5s;
}

.board {
    width: 100vw;
    height: 90%;
    background-image: url(Photos/AnimalMap/Map-board-Cloud-1264x1648.png);
    background-size: cover;
}

.pingu {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 29%;
    left: 44%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/pinguu.png);
}

.pingu:hover {
    transform: scale(2);
}

.bear {
    position: absolute;
    width: 150px;
    height: 119px;
    top: 40%;
    left: 68%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/bear_png.png);
}

.bear:hover {
    transform: scale(1.5);
}

.chimpanzee {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 46%;
    left: 60%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/chimpanzee_png.png);
}

.chimpanzee:hover {
    transform: scale(2);
}

.crocodile {
    position: absolute;
    width: 182px;
    height: 100px;
    top: 36%;
    left: 26%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/crocodile_png.png);
}

.crocodile:hover {
    transform: scale(2);
}

.elephant {
    position: absolute;
    width: 160px;
    height: 110px;
    top: 30%;
    left: 55%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/elephant_png.png);
}

.elephant:hover {
    transform: scale(1.5);
}

.flamingo {
    position: absolute;
    width: 100px;
    height: 152px;
    top: 24%;
    left: 31%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/flamingo_png.png);
}

.flamingo:hover {
    transform: scale(1.5);
}

.giraffe {
    position: absolute;
    width: 140px;
    height: 209px;
    top: 15.5%;
    left: 16%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/giraffe_png.png);
}

.giraffe:hover {
    transform: scale(2);
}

.lion {
    position: absolute;
    width: 178px;
    height: 100px;
    top: 22%;
    left: 64%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/Lion-PNG-Clipart.png);
}

.lion:hover {
    transform: scale(1.5);
}

.tiger {
    position: absolute;
    width: 136px;
    height: 100px;
    top: 17%;
    left: 53%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/tiger_png.png);
}

.tiger:hover {
    transform: scale(2);
}

.snake {
    position: absolute;
    width: 5.5%;
    height: 4%;
    top: 35.5%;
    left: 65%;
    background-size: cover;
    background-image: url(Photos/AnimalMap/snake.png);
}

.snake:hover {
    transform: scale(2);
}

.close-png:hover {
    transform: scale(1.5);
}

#popup-text {
    font-family: fantasy;
    font-variant: petite-caps;
    float: right;
}

.sunrise {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(Photos/AnimalMap/Sunrise-1264x1831.png);
    background-size: cover;
}

.sun {
    position: absolute;
    bottom: -170%;
    width: 30%;
    height: 20.1%;
    z-index: -1;
    background-image: url(Photos/AnimalMap/Sun-500x500.png);
    background-size: cover;
}

/*-----------------------------Footer---------------------------------------------*/

.Footer {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Photos/Footer2.0.png);
}

.contact {
    position: absolute;
    bottom: 90pt;
    left: 30pt;
}

.opening {
    position: absolute;
    bottom: 25pt;
    right: 30pt;
}