
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 171px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 40px 100px;
    z-index: 2;
    background: url(Photos/HighRes-Banner.png);
    background-size: cover;
    background-color: black;
}

header.sticky {
    height: 46px;
    position: fixed;
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.6);
}

.map-footer-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 16px;
    z-index: 1000;
    background: linear-gradient(#340808, transparent);
}

.banner {
    position: relative;
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: bottom;
    /* background: #722703; */
    background-image: url(Photos/tabla.png);
}

.sticky-banner {
    height: 52px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #010101;
    font-family: fantasy;
    font-size: 40px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header ul li a:hover {
    font-size: 60px;
    text-decoration: none;
    color: rgb(15, 177, 15) !important;
}

.animals-dropdown {
    display: none;
}

.show {
    display: block;
    position: absolute;
    margin-left: -42px;
}

.login-button  {
    border: 3px inset;
    font-size: 20px;
    height: 36px;
    width: 140px;
    background: linear-gradient(to right, #03b603, #cafa45);
    border-radius: 30px;
    color: #045d0b;
    font-family: fantasy;
    margin-right: -126px;
}
.cart-button  {
    border: 3px inset;
    font-size: 20px;
    height: 36px;
    width: 105px;
    background: linear-gradient(to right, #03b603, #cafa45);
    border-radius: 30px;
    color: #045d0b;
    font-family: fantasy;
    margin-right: -135px;
    margin-bottom: 100px;
}

.buy-button  {
    border: 3px inset;
    font-size: 20px;
    width: 105px;
    background: linear-gradient(to right, crimson, #cafa45);
    border-radius: 30px;
    font-family: fantasy;
    margin-left: 465px;
    margin-top: 10px;
}
