
.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: justify;
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    background: url("Photos/birds/flamingo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec2 {
    background: url("Photos/birds/penguins.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec3 {
    background: url("Photos/birds/parrotFlying.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec4 {
    background: url("Photos/birds/parrot.jpg");
    background-size: cover;
    background-attachment: fixed;
}