/*
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*/

.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: justify;
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    background: url("Photos/predators/Lions.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec2 {
    background: url("Photos/predators/Cubs.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec3 {
    background: url("Photos/predators/tiger.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec4 {
    background: url("Photos/predators/Bear.jpg");
    background-size: cover;
    background-attachment: fixed;
}