/*
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*/

.content {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: justify;
}

section {
    width: 100%;
    height: 100vh;
}

section.sec1 {
    background: url("Photos/reptiles/crocodile.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec2 {
    background: url("Photos/reptiles/snake.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.sec3 {
    background: url("Photos/reptiles/lizard.jpg");
    background-size: cover;
    background-attachment: fixed;
}